# Optional: enables the php-imap extension in the DDEV environment.
# To activate, copy and rename this file:
#   cp .ddev/config.imap.yaml.dist .ddev/config.imap.yaml
#   ddev restart
webimage_extra_packages:
    - php5.6-imap
